elegantbook.cls 
elegantbook-en.tex
figure
image
reference.bib
elegantbook-en-1.cpt
elegantbook-en.aux
elegantbook-en.bcf
elegantbook-en.log
elegantbook-en.out
elegantbook-en.run.xml
elegantbook-en.toc
